* {margin: 0; padding: 0}

html, body, #background {
    height: 100%;
    /*font-family: tahoma;*/
    font-family: Comic Sans MS;
    overflow: hidden;
}

img{
    width: 100%;
    height: 100%;
}

#background{
    width: 100%;
    position: absolute;
    /*background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(243,243,243,1) 50%,rgba(237,237,237,1) 51%,rgba(255,255,255,1) 100%);*/
    /*background-color: black;*/
}

.centered{
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.game_container{
    /*width: 62vw; !* 1024px *!*/
    /*height: 46vw; !* 768px *!*/

    -webkit-box-shadow: 1px 1px 2px 1px #000000;
    box-shadow: 1px 1px 2px 1px #000000;
}

.img_background{
    border-radius: 1vw;
}



.box_shadow_dusk{
    /*сумерки*/
    -webkit-box-shadow:inset 0 0 10vw 0.1vw #000000;
}

.box_shadow_evening{
    /*вечер*/
    -webkit-box-shadow:inset 0 0 50vw 1vw #000000;
}

.box_shadow_night{
    /*ночь*/
    -webkit-box-shadow:inset 0 0 100vw 3vw #000000;
}

.box_shadow_deep_night{
    /*ночь*/
    -webkit-box-shadow:inset 0 0 500vw 6vw #000000;
}

.container_layer{
    border-radius: 1vw;
    width: 62vw; /* 1024px */
    height: 46vw; /* 768px */

    /*-webkit-box-shadow:inset 0 0 50vw 10vw #000000;*/

    /*-webkit-box-shadow:inset 0 0 10vw 0.1vw #000000; сумерки*/
    /*-webkit-box-shadow:inset 0 0 50vw 1vw #000000; глубокие сумерки*/
    /*-webkit-box-shadow:inset 0 0 100vw 10vw #000000; ноч*/

}

.tpl-background{
    height: 100%;
    width: 100%;
}

.modale-background{
    border-radius: 1vw;
    width: 62vw; /* 1024px */
    height: 46vw; /* 768px */
    background-color: black;
    opacity: 0.3;
}

.tpl_header{
    margin: 1vw;
}

.seve_unit{
    height: 26%;
    width: 30%;
    /*border: blueviolet solid thin;*/
    float: left;
    margin: 1.3vw 0 0 1.3vw;
    border-radius: 1vw;
    box-shadow: 1px 1px 2px 1px darkgrey;
}

.seve_unit:hover{
    cursor: pointer;
    box-shadow: 1px 1px 2px 1px #000000;
}

.backdround_layer{
    position: relative;
    z-index: 1;
}

.text-save{
    position: relative;
    z-index: 2;
    top: -10vw;
    margin: 0 1vw;
    font-size: 1vw;
}

.info-box-recipes{
    height: 30vw;
    width: 50vw;
    background: linear-gradient(to bottom, rgba(252,255,244,1) 0%,rgba(233,233,206,1) 100%);
    border-radius: 0.33vw;
    border: white solid 2px;
}

.info-box-recipes-header{
    font-size: 1vw;
    font-weight: bold;
    margin: 1%;
}

.info-box-recipes-rows{
    width: 97%;
    height: 88%;

    margin: 2% 3% 0 0;
    overflow: auto;
}

.row-recipe{
    width: 96%;
    height: 5vw;
    border-radius: 0.2vw;
    margin: 0.2vw 0.5vw;
    float: right;
}

.row-recipe:hover{
    cursor: pointer;
    background: radial-gradient(ellipse at center, rgba(233,233,206,0.9) 0%,rgba(252,255,244,1) 100%);
}

.row-ingr{
    height: 4.5vw;
    width: 50%;
    margin: 0.2vw;
    /*background-color: #05316D;*/
    float: left;
}

.row-equal{
    height: 4.5vw;
    width: 4.5vw;
    margin: 0.2vw 0.4vw;
    /*background-color: #9B4D4D;*/
    float: left;

    font-size: 2.8vw;
    color: #671A21;
    font-weight: bold;
    text-align: center;
}

.row-result{
    height: 4.5vw;
    width: 17vw;
    margin: 0.2vw;
    /*background-color: #671A21;*/
    float: left;
}

.ingr-box{
    height: 4.5vw;
    width: 4.5vw;
    margin: 0 0.3vw;
    border-radius: 0.33vw;

    border: 1px white solid;
    position: relative;
    background: linear-gradient(to bottom, rgba(218,234,242,1) 0%,rgba(255,255,255,1) 50%,rgba(218,234,242,1) 100%);
}

.ingr-box-left{
    float: left;
}

.ingr-box-right{
    float: right;
}

.info-box{
    height: 15vw;
    width: 34vw;
    /*background-color: #DCF900;*/

    background: linear-gradient(to bottom, rgba(242,245,246,0.8) 0%,rgba(227,234,237,0.84) 37%,rgba(200,215,220,0.9) 100%);

    border-radius: 0.33vw;
    border: white solid 2px;
}

.info-box-image{
    float: left;
    height: 7vw;
    width: 7vw;
    margin: 0.5vw 0.5vw 0 0.5vw;
    border-radius: 0.33vw;
    background-color: linen;
    /*border: solid 1px #F2F886;*/
    border-top: solid 1px #ccd2d5;
    border-bottom: solid 1px #ccd2d5;
    position: relative;
}

.info-box-counter{
    position: absolute;
    font-size: 0.8vw;
    color: orangered;
    font-weight: bold;
    bottom: 0.3vw;
    right: 0.3vw;
}

.info-box-text{
    margin: 0vw 1vw 1vw 1vw;
    font-weight: bold;
    width: 19vw;
    height: 8vw;
    float: left;
    font-size: 0.8vw;
    color: #034769;
}

.info-box-header{
    font-size: 1.3vw;
    padding: 0.5vw;
}

.info-box-effects{
    height: 3.4vw;
    width: 100%;
    /*background-color: #ECFC71;*/
    background-color: #E5E8EA;
    border-top: solid 1px #ccd2d5;
    float: left;
    margin-top: 1vw;
    color: #5D016D;
}

.info-box-effects-instantEffects{
    /*background-color: #eeeeee;*/
    /*width: 30%;*/
    border-radius: 0.25vw;
    margin: 0 0.5vw;
    float: left;
}

.info-box-effects-components-name{
    float: left;
    font-size: 0.6vw;
    font-weight: bold;
    text-align: center;
    margin: 0vw 0 0 0.1vw;
    width: 100%;
}

.info-box-effects-components{
    /*background-color: #eeeeee;*/
    /*padding: 0 0.3vw 0.6vw 0.3vw;*/
    border-radius: 0.25vw;
    /*margin: 0.3vw 0.2vw;*/
}

.info-box-comands{
    height: 3vw;
    width: 100%;
    /*background-color: #A65B00;*/
    float: left;
    /*margin-top: 0.5vw;*/
}

.info-box-button{
    background-color: #FFFCF4;
    border: 1px solid #BFBDB9;
    color: #A6614F;
    border-radius: 0.2vw;
    float: right;
    margin: 0.8vw 1vw 0 0;
    min-width: 5vw;
    text-align: center;
}

.info-box-button:hover{
    cursor: pointer;
    background-color: #FFF6F4;
    border: 1px solid #D39180;
    color: #6C2B1A;
    float: right;
}

.info-box-nameButton{
    font-weight: bold;
    font-size: 0.9vw;
    padding: 0.2vw 0.4vw;
    display: block;
}

.close-box{
    display:block;
    font-weight:bolder;
    font-size:1.8vw;
    float:right;
    margin:0.5vw 1.2vw;
    color:#baab31;
    text-decoration:none;
    text-shadow: 0 0 1px #000000;
}

.close-box:hover{
    color:#4f7100;
    text-shadow: 0 0 2px #000000;
}

.game_name{
    display:block;
    margin:2vw;
    font-size:2.5vw;
    font-weight:bold;
    color:white;
    text-shadow: black 1px 1px 0, black -1px -1px 0, black -1px 1px 0, black 1px -1px 0;
}

.main_menu{
    float:right;
    margin:	3vw 2.5vw 0 0;
}

.txt-no-select{
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

/* Gradients */
.sky-gradient-00, .sky-gradient-24 { background: #00000c; }
.sky-gradient-01 { background: linear-gradient(to bottom, #020111 85%,#191621 100%); }
.sky-gradient-02 { background: linear-gradient(to bottom, #020111 60%,#20202c 100%); }
.sky-gradient-03 { background: linear-gradient(to bottom, #020111 10%,#3a3a52 100%); }
.sky-gradient-04 { background: linear-gradient(to bottom, #20202c 0%,#515175 100%); }
.sky-gradient-05 { background: linear-gradient(to bottom, #40405c 0%,#6f71aa 80%,#8a76ab 100%); }
.sky-gradient-06 { background: linear-gradient(to bottom, #4a4969 0%,#7072ab 50%,#cd82a0 100%); }
.sky-gradient-07 { background: linear-gradient(to bottom, #757abf 0%,#8583be 60%,#eab0d1 100%); }
.sky-gradient-08 { background: linear-gradient(to bottom, #82addb 0%,#ebb2b1 100%); }
.sky-gradient-09 { background: linear-gradient(to bottom, #94c5f8 1%,#a6e6ff 70%,#b1b5ea 100%); }
.sky-gradient-10 { background: linear-gradient(to bottom, #b7eaff 0%,#94dfff 100%); }
.sky-gradient-11 { background: linear-gradient(to bottom, #9be2fe 0%,#67d1fb 100%); }
.sky-gradient-12 { background: linear-gradient(to bottom, #90dffe 0%,#38a3d1 100%); }
.sky-gradient-13 { background: linear-gradient(to bottom, #57c1eb 0%,#246fa8 100%); }
.sky-gradient-14 { background: linear-gradient(to bottom, #2d91c2 0%,#1e528e 100%); }
.sky-gradient-15 { background: linear-gradient(to bottom, #2473ab 0%,#1e528e 70%,#5b7983 100%); }
.sky-gradient-16 { background: linear-gradient(to bottom, #1e528e 0%,#265889 50%,#9da671 100%); }
.sky-gradient-17 { background: linear-gradient(to bottom, #1e528e 0%,#728a7c 50%,#e9ce5d 100%); }
.sky-gradient-18 { background: linear-gradient(to bottom, #154277 0%,#576e71 30%,#e1c45e 70%,#b26339 100%); }
.sky-gradient-19 { background: linear-gradient(to bottom, #163C52 0%,#4F4F47 30%,#C5752D 60%,#B7490F 80%, #2F1107 100%); }
.sky-gradient-20 { background: linear-gradient(to bottom, #071B26 0%,#071B26 30%,#8A3B12 80%,#240E03 100%); }
.sky-gradient-21 { background: linear-gradient(to bottom, #010A10 30%,#59230B 80%,#2F1107 100%); }
.sky-gradient-22 { background: linear-gradient(to bottom, #090401 50%,#4B1D06 100%); }
.sky-gradient-23 { background: linear-gradient(to bottom, #00000c 80%,#150800 100%); }